<div class="page-footer">
    <div class="foot-inner">
    <dl>
        <dt>友情链接</dt>
        <dd>
            <ul>
                <li><a href="http://bbs.baobeihuijia.com/" target="_blank">宝贝回家</a></li>
                <li><a href="http://www.airdb.com/" target="_blank">aridb</a></li>
            </ul>
        </dd>
    </dl>

    <dl>
        <dt>我们的项目</dt>
        <dd>
            <ul>
                {% for project in site.data.projects %}
                    <li><a {% if project.url %}href="{{project.url}}"{% else %}href="http://github.com/srehub/{{project.github}}/"{% endif %} target="_blank">{{project.name}}</a></li>
                {% endfor %}
            </ul>
        </dd>
    </dl>

    <dl>
        <dt>加入我们</dt>
        <dd>
            <p>SRE 起源于google，在国内他们被称为运维工程师(OPS,operations)。 在互联网的快速发展下，SRE不只是做Operation方面的工作,更多是保障整个服务的稳定性，为用户提供更优质、更便捷的服务。</p>

            <p>如果你对SRE Hub感兴趣，可以<a href="/we-need-you/">【更多了解一下】</a>。</p>
        </dd>
    </dl>
    </div>
</div>

<script type="text/javascript">
//检查页面域名
(function(){
    var url = window.location.href;
    if (url.indexOf('http://srehub.github.io') !== -1) {
        window.location.href = url.replace('http://srehub.github.io','http://www.srehub.com');
    };
})();
</script>

<script>
    var page = "{{page.url}}";
</script>


<script type="text/javascript">
    (function(){
        //修复 markdown解析更换导致a链接未自动识别的问题
        function replaceURLWithHTMLLinks(text) {
            var exp = /[^"'](\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
            return text.replace(exp,"<a target='_blank' href='$1'>$1</a>");
        }
        if(document.querySelector && document.title.indexOf("技术周刊") > -1){
            var content = document.querySelector(".content");
            if(content){
                content.innerHTML = replaceURLWithHTMLLinks(content.innerHTML);
            }
        }
    })();

    //设置站外链接新页面打开
    var a_list= document.getElementsByTagName("a");
    for(var i=0;i<a_list.length;i++){
        var href = a_list[i].href;
        if( href && String(href).indexOf(window.location.host) < 0 ){
            a_list[i].target = "_blank";
        }
    }
</script>

<script>
var _hmt = _hmt || [];
(function() {
    var domain = document.domain;
    if(domain === "www.srehub.com") {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?5cfaa6810a02b4f45dc2c55614d98f57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    }
})();
</script>
</body>
</html>
