{% if page.page_id %}
    {% assign page_id = page.page_id %}
{% else if layout.page_id %}
    {% assign page_id = layout.page_id %}
{% endif %}

<div class="page-header">
    <a href="/"><div class="logo"></div></a>
    <ul class="page-nav page-navi-{{page_id}}">
        <li><a href="/">首页</a></li>
        <li><a href="/articles/">最新技术</a></li>
        <li><a href="/open/">开放</a></li>
        <li><a href="/weekly/">SRE周刊</a></li>
        <li><a href="/we-together/">一起分享</a></li>
        <li><a href="https://github.com/srehub/" target="_blank">Github</a></li>
    </ul>
    <a class="rss" target="_blank" href="http://www.srehub.com/feed.xml"></a>
</div>
