---
title: 技术周刊
---
{% include head.html %}

<div class="container">
    <div class="articles">
        <ul class="post-list">
            {% for post in site.posts %}
                {% if post.tag == "weekly" %}
                <li>
                    <a target="_blank" href="{{ post.url }}/">
                        {% assign paths = post.id | split: '/' %}
                        <div class="bnwrap"><img src="/img/srehub/defualt-cover.png"/></div>

                        <p>{{ post.title }}</p>
                        <span class="date">{{ post.author }} 发布于 {{ post.date | date_to_string }}</span>
                    </a>
                </li>
                {% endif %}  
            {% endfor %}
        </ul>

    </div>


    {% include sidebar.html %}
</div>


{% include foot.html %}
